:host {
  .container {
    margin: 20px;

    .title {
      color: chocolate;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .json {
      font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
      display: inline-block;
      background-color: antiquewhite;
      min-width: 300px;
    }
  }
}
