<mat-menu #appMenu="matMenu">
  <button *ngFor="let submenu of submenus" mat-menu-item>{{submenu.text}}</button>
</mat-menu>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon mat-icon-button>star_border</mat-icon>
    <span style="margin-left: 10px">{{appName}}</span>
    <span class="fill-remaining-space">
      <span style="margin-left: 20px" class="hide-mobile">
        <div style="display: inline;" class="button-row" *ngTemplateOutlet="menuItems"></div>
      </span>
    </span>
    <mat-icon class="cursor-pointer" mat-icon-button [matMenuTriggerFor]="appMenu">menu</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row class="hide-desktop">
    <div class="button-row" *ngTemplateOutlet="menuItems"></div>
  </mat-toolbar-row>

</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>


<ng-template #menuItems>
  <a mat-button *ngFor="let linkItem of linkList" [routerLink]="'/'+linkItem.routerLink" routerLinkActive="mat-accent">{{linkItem.text}}</a>
</ng-template>